/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */

@font-face {
    font-family: 'Android-Assassin';
    src: url('../fonts/AndroidAssassin-WXXY.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana;
}

header {
    font-size: 22px;
    width: fit-content;
    margin: 30px auto 30px;
}

header h1 {
    font-family: 'Android-Assassin', sans-serif;
    letter-spacing: 1px;
}

.main-section {
    display: flex;
    /* flex-direction: ; */
    height: 450px;
}

.game-ctrl-section {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 300px;
    margin: auto 100px;
}

.game-ctrl-btn {
    width: 150px;
    margin: 10px auto;
    height: 30px;
    background-color: rgb(234, 234, 234);
    border-radius: 2px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 16px;
}

.game-ctrl-btn:not(:disabled):hover {
    background-color: rgb(60, 60, 60);
    color: white;
    cursor: pointer;
}

.gameboards {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: fit-content;
    margin: 50px 50px 30px;
    /* border: 1px solid red; */
}

.player-one-instruction, 
.player-two-instruction,
.player-two-instruction-not-needed {
    width: fit-content;
    margin: 10px auto;
}


.player-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.cell {
    border: 1px solid #ccc;
    border: 1px solid #7b7b7b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 1.2rem;
    width: 36px;
    height: 36px;
}

.cell:hover {
    background-color: #ccc;
}

.placement-instructions-section {
    margin: 50px 30px 50px 10px;
}

.placement-instructions-list {
    /* margin: 50px 20px; */
    list-style: decimal;
}

.placement-instructions-list > li {
    margin: 30px 0;
    text-align: justify;
}

.placement-ctrl-section {
    width: 350px;
    margin: 0 0 0 410px;
    display: flex;
    justify-content: space-between;
}

.results {
    width: fit-content;
    margin: 0 auto;
}

dialog {
    border: none;
    border-radius: 8px;
    margin: auto auto;
    width: 600px;
    height: 700px;
}

dialog header {
    text-align: center;
    width: 500px;
}

.game-instructions-dialog > ul {
    margin: 50px 60px;
    list-style: decimal;
}

.instructions-list > li {
    margin: 30px 0;
    text-align: justify;
}

.gameplay-rules li {
    margin: 20px 0 0 20px;
    text-align: justify;
}

.dialog-footer {
    width: fit-content;
    margin: 10px auto;
}

.close-dialog-btn {
    width: 100px;
}

/* for grids */
.grid-blocker {
    pointer-events: none;
    opacity: 0.3;
}

/* for cells */
.blocker {
    pointer-events: none;
}

/* for player turn instructions */
.hidden {
    visibility: hidden;
}